[submodule "src/erp"]
	path = src/erp
	url = git@github.com:gisce/erp.git
[submodule "src/oorq"]
	path = src/oorq
	url = git@github.com:gisce/oorq.git
	branch = api_v5
[submodule "src/spawn_oop"]
	path = src/spawn_oop
	url = git@github.com:gisce/spawn_oop.git
[submodule "src/poweremail2"]
	path = src/poweremail2
	url = git@github.com:gisce/poweremail.git
[submodule "src/openerp-sentry"]
	path = src/openerp-sentry
	url = git@github.com:gisce/openerp-sentry.git
	branch = v5_legacy
